<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><img src="/images/favicon.svg" alt="WanderLust"
                style="height: 2.5rem;" /></a>

        <div class="navbar-nav me-2">
            <a class="nav-link" href="/listings"><b>Explore</b></a>
        </div>

        <form method="GET" action="/listings" class="d-flex mx-2 flex-grow-1">
            <input type="text" name="search" value="<%= search %>" placeholder="Search destinations..."
                class="form-control me-2" style="border-radius: 2rem;" />
            <button type="submit" class="btn btn-danger" style="border-radius: 2rem;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new"><b>Wanderlust your home</b></a>
                <% if(!currUser) { %>
                    <a class="nav-link" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                    <% } %>
                        <% if(currUser) { %>
                            <a class="nav-link" href="/logout"><b>Log out</b></a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>